.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 12px;

}

// bannder slider


.banner-silder .btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e3e3e3;
  color: #888;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.banner-silder .btn-left {
  position: absolute;
  top: 35%;
  left: 20px;
  z-index: 999;
}

.banner-silder .btn-right {
  position: absolute;
  top: 35%;
  right: 20px;
  z-index: 999;
}

.banner-silder .slider-item {
  width: 1200px;
  height: 375px;
  border-radius: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.banner-silder .list-thumb .slick-active {
  margin: 0 6px;
}


.banner-silder .list-thumb {
  display: flex;
  align-items: center;
  margin: 6px -6px;
}

.banner-silder .list-thumb--item {
  width: 25%;
}



.banner-silder .box-thumb {
  margin: 0 6px;
  box-shadow: 0 2px 6px #00000029;
  background-color: #f5f5f5;
  text-align: center;
  padding: 11px 0;
  border-radius: 6px;
  color: #666;
  background-color: #ccc;
  cursor: pointer;

  p {
    font-size: 1.1rem;

  }

  h2 {
    font-size: 1.3rem;

  }
}

.banner-silder .active {
  color: var(--white);
  background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%) 0% 0% no-repeat;
}

//  Product Image

.product-image  .slider {
  width: 370px;
}


.product-image  .btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e3e3e3;
  color: #888;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.product-image  .btn-left {
  position: absolute;
  top: 35%;
  left: 0px;
  z-index: 999;
}

.product-image  .btn-right {
  position: absolute;
  top: 35%;
  right: 0px;
  z-index: 999;
}

.product-image  .slider-item {
  border-radius: 6px;
  overflow: hidden;
}

.product-image  .list-thumb .slick-active {
  // margin: 0 6px;
}


.product-image  .list-thumb {
  background-color: var(--white);
  border-radius: 6px;
}

.product-image  .list-thumb--item {

  img {
    width: 100%;
    padding: 4px;
  }
}



.product-image  .box-thumb {
  margin: 6px;
  border: 1px solid rgb(238, 238, 238);
  cursor: pointer; 
}

.product-image  .active {
  border: 1px solid rgb(11, 191, 86);
}


  