.wrapper {
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #dedede;
        td, th {
            font-size: 1.3rem;
            text-align: center;
            padding: 6px;
        }
    
        th {
            color: #fff;
            background: #009a82;
        }
    
    }
}