@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --primary: #00483d;
    --black: #000;
    --white:#fff;
    --text-coler: #333
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-coler);
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #333;
}
button,input {
    border: none;
    outline: none;
}
