.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {

    background-color: var(--primary);
    border-radius: 5px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.navbar-link {
    position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 6px 6px;
color: var(--white);
li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

&:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    bottom: 2px;
    left: 0;
    background-color: #f7941e;
    border-radius: 4px;
}

}

.navbar-icon {
display: block;
font-size: 26px;
min-height: 26px;
}

.navbar-name {
    display: block;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 300;
}